.nav
    &-container
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        align-items: center
    &-logo
        position: relative
        top: 20px
        height: 40px
    &-city
        position: relative
        top: 25px
        outline: none
        height: 25px
        color: #448ccb
        border: none
        text-decoration: none
        border-bottom: 1px dashed #448ccb
    &-today
        position: relative
        color: #91919f
        top: 20px
        margin: 0
        width: 300px
    &-time, &-weather
        padding: 0 0 0 20px
    &-searchfield
        width: 300px
        margin: 0 0 0 30px
        position: relative
        top: 20px
        display: flex
        flex-direction: row
        overflow: hidden
        &__input
            width: 100%
            border: none
            background-color: #f2f2f2
            height: 40px
            border-radius: 50px
            line-height: 0px
            text-indent: 10px
        &__button
            position: absolute
            right: 0
            cursor: pointer
            background-color: transparent
            background-image: url('../img/search.png')
            background-repeat: no-repeat
            background-position: center
            width: 40px
            height: 40px
            border: none
    &-menu
        display: flex
        flex-direction: row
        justify-content: space-between
        list-style: none
        height: 70px
        width: 70%
        padding: 0
        a
            color: black
            text-decoration: none
        li
            padding-top: 45px
            height: 20px
            font-size: 14px
        li:after
            content: '/'
            padding: 0 25px
        li:last-child::after
            display: none
    &-mobmenu
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        &__list
            display: none
            position: absolute
            top: 130px
            left: 25px
            width: 90%
            margin: auto
            list-style: none
            background-color: #f2f2f2
        &__items
            margin-bottom: 10px
            padding-bottom: 10px
            border-bottom: 1px solid gray
            width: 100%
            a
                text-decoration: none
                color: black
        &__header
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            &__btn
                display: none
                background: url('../img/burger.png')
                background-repeat: no-repeat
                background-position: center
            &-logo
                display: none
                width: 20px
                height: 20px
            &-text
                display: none
            &-search
                display: none



@media (min-width: 525px)
    .nav
        &-mob-menu__list
            display: none
@media (min-width: 768px) and (max-width: 991px)
    .nav
        &-mob-menu
            &__list
                display: none
            div
                display: block

        &-container
            margin: 0 20px
        &-city, &-today, &-time, &-weather
            display: none
        &-menu
            flex-direction: column
@media (min-width: 321px) and (max-width: 767px)
    .nav
        &-container
            margin: 0 20px
        &-city, &-today, &-time, &-weather
            display: none
        &-menu
            flex-direction: column
